html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: bold;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.select-all {
  margin-right: 20px;
  padding: 10px 1px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 11px;
}

.select-letter {
  margin-left: 20px;
  padding: 10px 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 11px;
}

.form-input {
  width: 100px !important; 
  margin-bottom: 25px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  font-style: 11px;
}

.btn {
  width: 100px !important;
  margin-bottom: 25px;
  padding: 8px;
  font-size: 11px;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 30px;
}

.item {
  display: block;
  border: 1px solid #222;
  max-width: 195px;
  width: 100%;
  height: 470px;
  background-color: rgb(250, 249, 242);
  padding: 10px;
  margin-bottom: 50px;
  margin-left: 5px;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.item-img {
  border-radius: 5px;
  display: block;
  padding-bottom: 10px;
}

.item-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.item-text {
  font-size: 10px;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.item-date {
  display: block;
  text-align: center;
  padding-bottom: 12px;
}

.item-start {
  display: block;
  text-align: center;
  padding-bottom: 12px;
  color: yellow;
  font-weight: bold;
}

.item-btn {
  display: block;
  width: 170px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: cyan;
  border: none;
  font-weight: bold;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.item-btn:hover {
  background-color: #fff;
  color: #222;
}

.item-btn:active {
  opacity: 0.6;
  font-weight: bold;
}

.item-like {
  display: block;
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: #f8ed9b;
  color: #f00;
  border: 1px solid #f00;
}

.item-like:hover {
  background-color: #f00;
  color: #fff;
}

.item-like:active {
  background-color: #f00;
  opacity: 0.6;
  font-weight: bold;
}

.close-btn {
  border: none;
  background-color: #fff;
}

.title {
  font-weight: bold;
}

.img {
  display: inline-block;
  margin-left: 70px;
  margin-top: 10px;
}

.text {
  text-align: center;
}

.open-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.lists {
  display: none;
}

.bookmark-list {
  display: block;
}